.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 10px;
}

.controls__bar {
    position: relative;
    width: 390px;
    height: 65px;
    background-color: #323232;
    border-radius: 100px;
}

.controls__button {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}

.controls__button[disabled] {
    pointer-events: none;
    filter: grayscale(85%);
    opacity: .65;
}

.controls__button--first { left: 15px; }
.controls__button--second { left: 65px; }
.controls__button--third { left: 105px; }
.controls__button--fourth { right: 105px; }
.controls__button--fifth { right: 55px; }
.controls__button--sixth { right: 15px; }

.controls__button:hover {
    color: #FFFFFF;
    background-color: rgba(51, 153, 255, 0.1);
    border-color: #3399FF;
}

.controls__button:active {
    color: #FFFFFF;
    background-color: #3399FF;
}

.controls__button--tomato:hover {
    border-color: #FF6347;
    background-color: rgba(255, 99, 71, 0.1);
}

.controls__button--tomato:active {
    background-color: #FF6347;
}

.controls__main-button {
    border: 4px solid #3399FF;
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
}

.controls__main-button[disabled] {
    pointer-events: none;
    filter: grayscale(85%);
    opacity: .65;
}

.controls__main-button-background {
    width: 90px;
    height: 90px;
    border: none;
    background-color: #1E1E1E;
    pointer-events: none;
}

.controls__vertical-separator {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
    height: 28px;
    width: 2px;
    background-color: #1E1E1E;
}

.controls__vertical-separator--left { left: 59px; }
.controls__vertical-separator--right { right: 99px; }

.controls__play-icon {
    width: 24px;
    height: 36px;
    border-width: 18px 0 18px 24px;
    border-color: transparent transparent transparent #9B9B9B;
    border-style: solid;
    box-sizing: border-box;
    margin-left: 8px;
}

.controls__button:active .controls__play-icon,
.controls__button:hover .controls__play-icon {
    border-left-color: #FFFFFF;
}

.controls__stop-icon {
    width: 14px;
    height: 14px;
    background-color: #FF6347;
}

.controls__button:active .controls__stop-icon,
.controls__button:hover .controls__stop-icon {
    background-color: #FFFFFF;
}

.controls__svg-icon {
    width: 16px;
    height: 16px;
}

.controls__svg-icon svg {
    fill: #9B9B9B;
}

.controls__button:active .controls__svg-icon svg,
.controls__button:hover .controls__svg-icon svg {
    fill: #FFFFFF;
}

.controls__close-icon svg {
    fill: #FF6347;
}

.controls__preview-icon {
    width: 20px;
    height: 20px;
}