.dialog-overlay__title {
    margin-top: 120px;
    font-size: 26px;
    color: #FF6347;
    font-weight: bold;
    text-align: center;
}

.dialog-overlay__message {
    width: 100%;
    line-height: 25px;
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    color: #FFFFFF;
}