@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Regular.woff") format("woff"),
         url("../font/Roboto-Regular.woff2") format("woff2");
}

* {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

html {
    overflow: hidden;
    border: 2px solid #7B68EE;
    box-shadow: inset 0 6px 30px 0 #7B68EE;
}

body {
    background-color: #1E1E1E;
    color: #9B9B9B;
    margin: 0 20px 20px 20px;
}

#configuration-panel[disabled] {
    pointer-events: none;
    filter: grayscale(85%);
    opacity: .65;
}

.title-bar {
    -webkit-app-region: drag;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 25px;
    padding: 3px 0 1px 0;
    margin: 0 -20px 10px;
    border-bottom: 1px solid rgba(123, 104, 238, 0.8);
    background-color: rgba(123, 104, 238, 0.185);
    text-align: center;
    user-select: none;
}

.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .94;
    z-index: 999999;
}
