.status-bar {
    position: fixed;
    display: flex;
    align-items: center;
    left: 0; right: 0; bottom: 0;
    height: 25px;
    border-top: 1px solid #323232;
    box-sizing: border-box;
    margin: 0 3px 3px;
}

.status-bar__status-icon {
    min-width: 12px;
    max-width: 12px;
    height: 12px;
    margin-left: 6px;
    border-radius: 50%;
    background-color: #9B9B9B;
}

.status-bar__message {
    font-weight: normal;
    margin-left: 6px;
    line-height: 25px;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}