.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #9B9B9B;
    margin-top: 20px;
    padding: 15px 0 5px 0;
}

.statistics__card {
    display: inline-block;
    width: calc(100% / 3);
    margin: 8px 0;
    text-align: center;
}

.statistics__card-label {
    line-height: 20px;
    font-weight: normal;
}

.statistics__card-value {
    line-height: 25px;
    font-size: 20px;
}

.statistics__header {
    position: absolute;
    width: fit-content;
    line-height: 24px;
    font-size: 18px;
    top: 8px; left: 0; right: 0;
    margin: 0 auto;
    padding: 0 5px;
    background-color: #1E1E1E;
}

.statistics__header-background {
    color: transparent;
    opacity: 1;
}