.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 6px 12px;
    box-sizing: border-box;
    border: 1px solid #3399FF;
    vertical-align: top;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    color: #FFFFFF;
    background-color: rgba(51, 153, 255, 0.1);
}

.button:active {
    color: #FFFFFF;
    background-color: #3399FF;
}

.button:active .button__play-icon,
.button:hover .button__play-icon {
    border-left-color: #FFFFFF;
}

.button__play-icon {
    width: 9px;
    height: 14px;
    border-width: 7px 0 7px 9px;
    border-color: transparent transparent transparent #9B9B9B;
    border-style: solid;
    box-sizing: border-box;
}

.button__text {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 0 10px;
    font-size: 14px;
}
