@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Regular.woff") format("woff"),
         url("../font/Roboto-Regular.woff2") format("woff2");
}

* {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

html {
    overflow: hidden;
}

body {
    background-color: #1E1E1E;
    color: #9B9B9B;
    margin: 20px;
}

#configuration-panel[disabled] {
    pointer-events: none;
    filter: grayscale(85%);
    opacity: .65;
}
