@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Regular.woff") format("woff"),
         url("../font/Roboto-Regular.woff2") format("woff2");
}

* {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

html {
    overflow: hidden;
    margin: 0 1px 1px 0;
    border: 3px solid #FFFFFF;
}

body {
    background-color: #1E1E1E;
    color: #9B9B9B;
    margin: 0 20px 20px 20px;
}

#configuration-panel[disabled] {
    pointer-events: none;
    filter: grayscale(85%);
    opacity: .65;
}

.title-bar {
    -webkit-app-region: drag;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 7px 0 5px 0;
    margin: 0 -20px 10px;
    border-bottom: 1px solid #323232;
    text-align: center;
    user-select: none;
}
